<head>
  <base target="_blank" />
  <style type="text/css">
    #board {
      background: white;
      width: 95%;
      max-width: 800px;
      margin: auto auto;
      border-radius: 5px;
      border: #FF779A 1px solid;
      overflow: hidden;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .12);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .18);
    }

    .text-center {
      text-align: -webkit-center;
      text-align: center;
    }

    .call {
      position: relative;
      color: white;
      float: left;
      z-index: 999;
      background: #FF779A;
      padding: 5px 30px;
      margin: -25px auto 0;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30)
    }

    .name {
      text-decoration: none;
      color: #FF779A !important;
    }

    .content {
      padding-bottom: 20px;
      background-color: #ff779a1f;
      margin: 20px 0px;
      padding: 20px;
    }

    .jump {
      text-decoration: none;
      font-size: 14px;
      background: #FF779A;
      color: #FFFFFF !important;
      padding: 10px;
      display: inline-block;
      border-radius: 5px;
      margin: 10px auto 0;
    }

    .end {
      font-size: 12px;
      text-align: center;
      color: #999;
    }
  </style>
</head>

<body>
  <div id="board">
    <img style="width:100%;" src="https://rmt.dogedoge.com/fetch/royce/storage/bg/signage.jpg?fmt=webp">

    <div style="padding: 5px 20px;">

      <div class="call">Dear&nbsp;<%=pname%></div><br>

      <h3 class="text-center">来自 <span class="name"><%=name%></span> 的回复</h3><br>

      <p>您在 <a class="name" target="_blank" href="<%=url%>">&nbsp;<%=siteName%>&nbsp;</a> 上曾发表评论：</p>
      <div class="content text-center"><%-ptext%></div><br>

      <p>收到了来自 <span class="name"><%=name%></span> 的回复：</p>
      <div class="content text-center"><%-text%></div>

      <div class="text-center">
        <a class="jump" target="_blank" href="<%=url%>"><%=siteName%> | 传送门 Biu</a>
      </div>

      <p class="end">
        欢迎常来做客哦！<br>
        © 2020 <a class="name" href="<%=siteUrl%>"> <%=siteName%> </a>
      </p>

    </div>

  </div>

  <script>
    var _c = document.getElementById("board");
    _c.innerHTML = (_c.innerHTML || "")
      .replace(/(href|formAction|onclick|javascript)/gi, "__$1")
      .replace(/<\/?marquee>/gi, "");
    var xhr = new XMLHttpRequest();
    xhr.open('get', 'https://v1.hitokoto.cn/?c=e&c=j&c=k');
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4) {
        var data = JSON.parse(xhr.responseText);
        var hitokoto = document.getElementById('hitokoto');
        hitokoto.innerText = data.hitokoto;
      }
    }
    xhr.send();
  </script>

</body>